div.header {
    article.faq {
        padding: 20px 0;
    }
}

div.container {
    article.faq {
        padding: 10px 0 20px;
    }
}

article.faq {
    overflow: auto;

    div.left {
        width: 750px;
        float: left;

        h2 {
            font-weight: 400;
            font-size: 22px;
            border-bottom: 1px solid #c0c0c0;
            padding-bottom: 10px;
            margin: 20px 0 10px;
            color: $green;
        }
        h3 {
            border-bottom: 1px solid #d0d0d0;
            font-size: 16px;
            font-weight: 400;
            margin: 30px 0 10px;
            padding: 0 0 10px;
            a {
                float: right;
                font-size: 12px;
                font-weight: 400;
            }
        }
        p {
            color: #303030;
            font-size: 15px;
            font-weight: 300;
            line-height: 20px;
            margin: 0 0 16px;
            strong {
                font-weight: bold;
            }
        }
        ul {
            list-style: lower-roman;
            padding: 0 0 40px 40px;
        }
        a {
            color: $blue;
        }
        ol {
            font-size: 15px;
            font-weight: 300;
            li {
                margin: 5px 0;
            }
            img {
                margin: 5px 0 0;
            }
        }
    }

    div.right {
        width: 310px;
        padding-left: 40px;
        float: right;

        strong {
            font-weight: 300;
            font-size: 18px; 
            margin: 20px 0;
            display: block;
        }
        ul {
            list-style: lower-roman;
            padding: 0 0 0 30px;
        }
        a {
            display: block;
            margin: 6px 0;
            cursor: pointer;
            font-weight: 300;
        }
    }
}
