<div id="edit-tag-modal" class="modal fade" role="dialog" style="display: none;" data-user-account-tag-id="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Edit Tag</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="field">
                        <label>Name</label> 
                        <input type="text" class="name">
                    </div>

                    <div class="field">
                        <label>Group</label>
                        <input type="text" class="group">
                    </div>
                    <input type="submit">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="primary">Save</button>
                <button type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
