<div class="filter-list">
    {% for genre in genre_filter_list %}
        <div class="filter color-3 hidden" data-genre="{{ genre.name }}">
            <span>Genre / {{ genre.name }}</span>
            <a title="Stop filtering by 'Genre / {{ genre.name }}'">×</a>
        </div>
    {% endfor %}

    {% for cost in cost_filter_list %} 
        <div class="filter color-4 hidden" data-cost="{{ cost.filter }}">
            <span>Cost / {{ cost.label }}</span>
            <a title="Stop filtering by 'Cost / {{ cost.label }}'">×</a>
        </div>
    {% endfor %}

    {% for hours in hours_filter_list %}
        <div class="filter color-5 hidden" data-hours="{{ hours.filter }}">
            <span>Hours / {{ hours.label }}</span>
            <a title="Stop filtering by 'Hours / {{ hours.label }}'">×</a>
        </div>
    {% endfor %}

    {% for rating in rating_filter_list %}
        <div class="filter color-1 hidden" data-rating="{{ rating.filter }}">
            <span>Enjoyment / {{ rating.label }}</span>
            <a title="Stop filtering by 'Enjoyment / {{ rating.label }}'">×</a>
        </div>
    {% endfor %}

    {% for finish in finished_filter_list %}
        <div class="filter color-2 hidden" data-finished="{{ finish }}">
            <span>Finished / {{ finish }}</span>
            <a title="Stop filtering by 'Finished / {{ finish }}'">×</a>
        </div>
    {% endfor %}

    {% for group, tag_list in group_tag_list %}
        {% for tag in tag_list %}
            <div class="filter color-{{ color_hash(tag.group|default('', True)) }} hidden" data-tag-name="{{ tag.qualified_name }}">
                <span>{{ tag.qualified_name }}</span>
                <a title="Stop filtering by '{{ tag.qualified_name }}'">×</a>
            </div>
        {% endfor %}

        {% if group %}
            <div class="filter color-{{ color_hash(group|default('', True)) }} hidden" data-untag-name="{{ group }} / No Tag">
                <span>{{ group }} / No Tag</span>
                <a title="Stop filtering by '{{ group }} / No Tag'">×</a>
            </div>
        {% endif %}
    {% endfor %}
</div>
