{% extends "gamestradamus/base.html" %}

{% block title %}Delete Your Profile{% endblock %}

{% block header %}
    <article class="profile-forget">
        <div class="title">
            <h1>Delete Profile ({{ request.user_account.nickname }})</h1>
            <p class="instructions">Permanently delete your profile and all associated data.<p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="profile-forget">

        <form id="forget-me" method="POST" action="/">
            <p>Clicking the button below will irreversibly and permanently delete your profile.</p>
            <input type="submit" value="Delete Profile">
            <input type="hidden" name="csrf-token" value="{{ csrf_token }}">
            <a href="/profile/games">Whoa! Get me out of here, I don't want to delete my Profile!</a>
        </form>

    </article>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
require([
    "dojo/_base/event",
    "dojo/query",

    "dojo/domReady!"
], function(event, query) {
    query('#forget-me').on('submit', function(evt) {
        event.stop(evt);

        if (confirm("Your profile is about to be permanently deleted.")) {
            evt.currentTarget.action = '/profile/forget/';
            evt.currentTarget.submit();
        }
    }); 
});
</script>
{% endblock %}
