{% extends "gamestradamus/base.html" %}

{% block title %}Upgrade to Premium{% endblock %}

{% block header %}
    <article class="make-premium">
        <div class="title">
            <h1>Upgrade to Premium</h1>
            <p class="data"></p>
            <p class="instructions">
                Unrestricted access to all of Gauge's current and upcoming features. 
            </p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="make-premium">
        <form method="POST">
            {% if errors._all %}
                <div class="errors">
                    {% for error in errors._all %}
                        <p>{{ error }}</p>
                    {% endfor %} 
                </div>
            {% endif %}

            <fieldset>
                <legend>Credit Card Information</legend>

                <ul>
                    <li>
                        <label for="card-number">Card Number:</label>
                        <input id="card-number" type="text" name="card-number" {% if errors.get("card-number") %}class="error"{% endif %}>
                        {% if errors.get("card-number") %}
                            {% for error in errors.get("card-number") %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </li>

                    <li>
                        <label for="expiry-month">Expiry Date:</label>
                        <select id="expiry-month" name="expiry-month">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <select id="expiry-year" name="expiry-year">
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                        </select>
                    </li>

                    <li>
                        <label for="cvv">CVV (Security Code):</label>
                        <input id="cvv" type="text" name="cvv">
                    </li>
                </ul>
            </fieldset>

            <fieldset>
                <legend>Billing Information</legend>
                
                <ul>
                    <li>
                        <label for="name">Name:</label>
                        <input id="name" type="text" name="name">
                    </li>

                    <li>
                        <label for="address">Address:</label>
                        <input id="address" type="text" name="address">
                    </li>

                    <li>
                        <label for="city">City:</label>
                        <input id="city" type="text" name="city">
                    </li>

                    <li>
                        <label for="province">Province / State:</label>
                        <input id="province" type="text" name="province">
                    </li>

                    <li>
                        <label for="country">Country:</label>
                        <input id="country" type="text" name="country">
                    </li>

                    <li>
                        <label for="postal-code">Postal / Zip Code:</label>
                        <input id="postal-code" type="text" name="postal-code">
                    </li>

                    <li>
                        <label for="phone-number">Phone Number:</label>
                        <input id="phone-number" type="text" name="phone-number">
                    </li>

                    <li>
                        <label for="e-mail">E-Mail Address:</label>
                        <input id="e-mail" type="text" name="e-mail">
                    </li>

                </ul>
            </fieldset>

            <fieldset>
                <a id="cancel-payment" href="/profile/{{ request.user_account.id }}/premium/">Cancel</a>
                <input id="process-payment" type="submit" value="Process Payment" name="submit">
            </fieldset>
        </form>

        <div class="details">
            <h2>Order</h2>
            <table>
                <tbody>
                    <tr>
                        <td>Add one (1) year of Premium service to your account.</td>
                        <td class="right">$7.99</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total:</td>
                        <td>$7.99</td>
                    </tr>
                </tfoot>
            </table>

            <div class="legal">
                <a href="/terms-of-service" target="_blank">Terms of Service</a>
                <a href="/refund-policy" target="_blank">Refund Policy</a>
                <a href="/privacy-policy" target="_blank">Privacy Policy</a>
            </div>
        </div>

    </article>
{% endblock %}
