{% extends "gamestradamus/base.html" %}
{% block header %}
    <article class="premium">
        <div class="title">
            <h1>Your Subscription</h1>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="premium">
        <p>Your Premium service will end after {% if user_attrs.premium_account_until %}{{ user_attrs.premium_account_until.strftime("%B %d, %Y at %I:%M %p MST") }}{% endif %}</p>
        <p><a href="/profile/{{ request.user_account.id }}/premium/">Add another year of Premium service</a></p>
    </article>
{% endblock %}
